body {
    background-color: #2f3848; 
}

#container1 {
    width: 70%;
    margin: 0 auto;
}

.bande {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 70%;
    height: 70px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: #f05768;
    border-bottom: 3px solid;
    border-color: white;
    border-radius: 5px;
}

.title {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    color : white;
    font-style: oblique;
    font-size: 40px;
}

.container {
    padding:0;
    margin:0;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
}

.container li a {
    float: left;
    display: block;  
    width: 70px;
    height: 20px;
    font-size: 20px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    text-align:center;
    padding:5px;
}

.container li img {
    float: right;
    padding: 5px;
    width: 35px;
    height: 35px;
}

#title2 {
    color: #4992dc;
    margin-top: -7px;
    margin-left: 5px;
    font-size: 30px;
    font-style: italic;
}

#paragraph {
    color: white;
    font-family: sans-serif;
}

#paragraph a {
    text-decoration: underline;
    color: yellowgreen;
}

#big_cameleon {
    position: absolute;
    color: white;
}